* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1em;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: rgb(50, 89, 143);
    margin: 10 auto;
    font-weight: bold;
}

a.social-network, a.social-network span {
    display: block;
    font-size: 0.7em;
}

.splash-container .background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.background {
    background: url('../images/purmamarca.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.splash {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 1em; left: 0; bottom: 0; right: 0;
    text-align: center;
    color: rgb(50,89,143);
    font-size: 180%;
    padding: 15px 0;
}

.card-main, .card-footer, .card-body {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #FFF;
}

.content {
    padding: 0 0.7em;
}

.content p {
    font-size: 0.4em;
}

.content h1 {
    font-size: 0.6em;
}

.content h2 {
    font-size: 0.5em;
}

.card-footer, .card-body {
    margin-top: 10px;
    padding: 8px 0;
}

.top-description {
    display:none;
}

.card-body {
    display:block;
}

.self-picture {
    height: 100%;
    object-fit: cover;
}

.center-vertical {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-container {
    display: flex;
}

.flip-card {
    background-color: transparent;
    height: auto;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    position: relative;
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.flip-image {
    position: absolute;
    top: 4px;
    right: 7px;
    cursor: pointer;

}

.qrcode-image {
    margin: auto;
    display: block;
    position: absolute;
    height: 90%;
    top: 0; bottom: 0; left:0; right: 0;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the styles.
 */
@media (min-width: 48em) {
    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 75%;
    }

    .top-description {
        display:block;
    }

    .card-body {
        display:none;
    }
}

@media (min-width: 64em) {

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 60%;
    }

}