<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0PMQSPZ0JQ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-0PMQSPZ0JQ');
	</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal page of Eder Andrade, a multi-language programmer with extensive experience.">
    <meta name="keywords" content="developer, programmer, engineer, backend frontend, fullstack, developing, software, java, spring, kotlin, swift, objective-c, javascript, html, css, mysql, javascript, js, docker, rest, microservices">
    <meta name="author" content="Eder Andrade">
    <link rel="author" href="https://medium.com/@junioreder">
    <title>Eder Andrade</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/svg+xml" sizes="32x32">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}"><!-- 180×180 -->
	<link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <script src="https://kit.fontawesome.com/acd7e4033e.js" crossorigin="anonymous"></script>
 </style>
</head>
<body>
	<div class="splash-container">
		<div class="background">
		</div>
	    <div class="splash">
	    	<div class="card-main">
	    		<div class="pure-g">
				    <div class="pure-u-1-3 image-container">
				    	<img class="pure-img self-picture" src="{{ url_for('static', filename='images/me.jpeg') }}" title="Picture of Éder">
				    </div>
				    <div class="pure-u-2-3 content">
				    	<div class="center-vertical">
				    		<div>
						    	<h2>Hello, world!</h2>
						    	<h1>I'm Eder Andrade.</h1>
						    	<h2>A polyglot programmer with extensive business and management experience.</h2>
						    	<p class="top-description">
						    		I've been in the tech industry since 2007. Since then, I can't recall a single challenge I didn't accept. This approach has made me focused on solving problems regardless of language, becoming technology agnostic. Consequently, I have gathered extensive experience with Java, Spring, PHP, Laravel, Kotlin, Swift, Objective-C, MySQL, Postgres, Oracle DB, Docker, REST, Javascript, HTML, CSS. Additionally, I have some experience with .NET, Node.js, Python, React.js, React Native, Typescript, Xamarin, MongoDB, among others.
						    	</p>
				    		</div>
				    	</div>
				    </div>
				</div>
				<div class="bottom-description">
				    <div class="content">
				    	<p>
				    		I've been in the tech industry since 2007. Since then, I can't recall a single challenge I didn't accept. This approach has made me focused on solving problems regardless of language, becoming technology agnostic. Consequently, I have gathered extensive experience with Java, Spring, PHP, Laravel, Kotlin, Swift, Objective-C, MySQL, Postgres, Oracle DB, Docker, REST, Javascript, HTML, CSS. Additionally, I have some experience with .NET, Node.js, Python, React.js, React Native, Typescript, Xamarin, MongoDB, among others.
				    	</p>
				    </div>
				</div>
	    	</div>

	    	<div class="card-footer">
	    		<div class="pure-g">
				    <div class="pure-u-1-2">
				    	<a href="https://www.linkedin.com/in/edertech" class="social-network" target="_blank" title="Link for Linkedin page">
				    		<svg xmlns="http://www.w3.org/2000/svg" height="0.8em" viewBox="0 0 448 512" title="Icon of Linkedin"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/></svg>
				    		<span class="strong display-block margin-top-sm">edertech</span>
				    	</a>
				    </div>
				    <div class="pure-u-1-2">
				    	<a href="https://medium.com/@junioreder" class="social-network" target="_blank" title="Link for Medium page">
				    		<svg xmlns="http://www.w3.org/2000/svg" height="0.8em" viewBox="0 0 640 512"  title="Icon of Medium"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M180.5,74.262C80.813,74.262,0,155.633,0,256S80.819,437.738,180.5,437.738,361,356.373,361,256,280.191,74.262,180.5,74.262Zm288.25,10.646c-49.845,0-90.245,76.619-90.245,171.095s40.406,171.1,90.251,171.1,90.251-76.619,90.251-171.1H559C559,161.5,518.6,84.908,468.752,84.908Zm139.506,17.821c-17.526,0-31.735,68.628-31.735,153.274s14.2,153.274,31.735,153.274S640,340.631,640,256C640,171.351,625.785,102.729,608.258,102.729Z"/></svg>
				    		<span class="strong display-block margin-top-sm">@junioreder</span>
				    	</a>
				    </div>
				</div>
	    	</div>
	        
	    </div>
	</div>


</body></html>